<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find mybot_description)/urdf/mybot.urdf.xacro'"/>
  
  <!-- Send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>
    
<!-- Launch file format is consistent with: http://gazebosim.org/tutorials?tut=ros_control#Createaroslaunchfile -->

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mybot_control)/config/common_controllers.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen" ns="mybot"
    args="joint_state_controller
      mobile_base_controller"
  />
  
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
      <param name="default_topic" value="/mybot/mobile_base_controller/cmd_vel"/>
  </node>
  
  <!-- convert joint states to TF transforms for rviz -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    ns="mybot" respawn="false" output="screen">
    <remap from="/joint_states" to="/mybot/joint_states" />
    <param name="robot_description" command="$(find xacro)/xacro '$(find mybot_description)/urdf/mybot.urdf.xacro'"/>    
  </node>

</launch>
